<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="style.css" />
    <script src="index.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sporks</title>
  </head>
  <body onload="getPosts()">
    <div class="nav-container">
      <div class="nav">
        <div onclick="getPostsByUser()" class="home-title-container">
          <div class="home-title">SPORKS</div>
          <div class="home-title-caption">The most versatile of food blogs</div>
        </div>
        <div class="welcome">
          <div id="userWelcome">WELCOME, SIGN IN OR CREATE AN ACCOUNT!</div>
        </div>
        <div class="credentials-container">
          <div id="signed-in">
            <label class="userLabel">Sign in</label>
            <input
              type="text"
              class="username"
              id="username"
              placeholder="Enter a username"
            /><label class="passwordLabel">Password</label>
            <input type="password" class="password" id="password" />
            <button onclick="signIn()">Sign in</button>

            <div class="account-creator">
              <button id="myBtn">Create an account</button>
              <div id="myModal" class="modal">
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <div class="create-cont">
                    <div class="modal-title">CREATE AN ACCOUNT!</div>
                    <div class="create-input">
                      <label class="unLabel"
                        >Username<input id="createUn" type="text"
                      /></label>
                      <label class="pwLabel"
                        >Password<input id="createPw" type="text"
                      /></label>
                      <label class="fnLabel"
                        >Firstname<input id="createFn" type="text"
                      /></label>
                      <label class="lnLabel"
                        >Lastname<input id="createLn" type="text"
                      /></label>
                      <button onclick="createUser()">CREATE</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="create-post" id="create-post"></div>
          <div class="drinkSearch" id="drinkSearch"></div>
        </div>
      </div>
    </div>
    <div id="content" class="content-container">
      <div class="landing-cont">
        <div id="landing" class="landing"></div>
      </div>
    </div>
  </body>
  <script>
    var modal = document.getElementById("myModal");
    var btn = document.getElementById("myBtn");
    var span = document.getElementsByClassName("close")[0];
    btn.onclick = function () {
      modal.style.display = "block";
    };
    span.onclick = function closeModal() {
      modal.style.display = "none";
    };
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    };
  </script>
</html>
