<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="style.css" />
    <script src="index.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sporks</title>
  </head>
  <body onload="getPosts()">
    <div class="nav-container">
      <div class="nav">
        <a href="/index.html"
          ><div class="home-title-container">
            <div class="home-title">SPORKS</div>
            <div class="home-title-caption">
              The most versatile of food blogs
            </div>
          </div></a
        >
        <div class="welcome">
          <div id="userWelcome">WELCOME, SIGN IN OR CREATE AN ACCOUNT!</div>
        </div>
        <div id="credentials-container" class="credentials-container">
          <label class="userLabel">Sign in</label>
          <input
            type="text"
            class="username"
            id="username"
            placeholder="Enter a username"
          /><label class="passwordLabel">Password</label>
          <input type="password" class="password" id="password" />
          <button onclick="signIn()">Sign in</button>
        </div>
      </div>
    </div>
    <div class="content-container">
      <div class="side-nav">
        <div class="preview-posts" id="preview-posts"></div>
      </div>
      <div class="post-container">
        <div id="single-post-cont" class="single-post-cont">
          <!-- <div class="landing">
            <div class="caption">Welcome to SPORKS</div>
            <div>Have a look around or sign in to create a post</div>
          </div> -->
          <!-- <div class="post-creator">
            <div class="post-title">Create a Post!</div>
            <div class="post-box">
              <label>Title:</label>
              <input id="title" type="text" />
              <label>Text:</label>
              <textarea id="text" type="text"></textarea>
              <label>Image:</label>
              <input id="image" type="text" />
              <label>Recipe URL:</label>
              <input id="recipe" type="text" />
              <div>Sign in to create a post!</div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </body>
</html>
