<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="style.css" />
    <script src="index.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sporks</title>
  </head>
  <body onload="getPostById(); checkJwt()">
    <div class="nav-container">
      <div class="nav">
        <a href="/index.html"
          ><div
            onclick="getPostsByUser(); updateContentPage(); getPostsSignedIn()"
            class="home-title-container"
          >
            <div class="home-title">SPORKS</div>
            <div class="home-title-caption">
              The most versatile of food blogs
            </div>
          </div></a
        >
        <div class="welcome">
          <div id="userWelcome">WELCOME, SIGN IN OR CREATE AN ACCOUNT!</div>
        </div>
        <div id="credentials-container" class="credentials-container">
          <div id="signed-in">
            <label class="userLabel">Sign in</label>
            <input
              type="text"
              class="username"
              id="username"
              placeholder="Enter a username"
            /><label class="passwordLabel">Password</label>
            <input type="password" class="password" id="password" />
            <button onclick="getUsers()">Sign in</button>
          </div>
          <div class="create-post" id="create-post"></div>
        </div>
      </div>
    </div>
    <div class="read-cont">
      <div class="left"></div>
      <div class="read">
        <div class="fullpost-cont">
          <div class="fullpost" id="fullpost"></div>
        </div>
      </div>
      <div class="right"></div>
    </div>
  </body>
</html>
